<h1>Lista de Ciudadanos</h1>

<table>
  <tr>
    <th>DNI</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personas.each do |persona| %>
  <tr>
    <td><%= persona.dni %></td>
    <td><%= link_to 'Mostrar', persona %></td>
    <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
    <td><%= link_to 'Eliminar', persona, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo DNI', new_persona_path %>
