<p id="notice"><%= notice %></p>

<p>
  <b>DNI:</b>
  <%= @persona.dni %>
</p>

<table>
	<%@ persona.pagos.each do |pago| %>
	<tr>
		<td><%=pago.arbitrio %></td>
		<td><%=pago.mora %></td>
	</tr>
	<%end%>
</table>

<%= @total %><br/>

<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Regresa', personas_path %>
